<div class="stationPriceContainer" *ngIf="tradeData$ | async as tradeData; else CalcIsLoading">
    <div *ngIf="(itemIdentifier$ | async) as item" class="itemInfoContainer">
        <div class="splitLeftRight">
            <div class="itemInfo">
                <div *ngIf="(currentItemImageSourceObs | async) as imageSource">
                    <img class="foundItemImage" [src]="imageSource">
                </div>
                <div class="itemDetails" *ngIf="itemDetails$ | async as itemDetails">
                    <div class="itemInfoName" [title]="itemDetails.name"
                        (click)="copy(itemDetails.name)">{{ itemDetails.name }}</div>

                    <div class="itemNetMargin" [ngClass]="tradeData.artificialSellPrice ? 'artificialPrice' : tradeData.profit <= 0 ? 'negativeProfit' : 'positivProfit'">
                     {{ tradeData.netMargin | percent }} 
                    </div>
                    <!-- The type_id is not required for users -->
                    <!-- <div class="itemInfoId">{{ itemDetails.type_id }}</div> --> 
                    <div class="itemInfoId"> {{ itemDetails.packaged_volume }} m³ </div>

                </div>
            </div>

            <div class="interactionButtons">
                <button class="mat-button" mat-button title="Add to shopping list"
                    (click)="addOrRemoveShoppingList(tradeData)">
                    <mat-icon [class.fillIcon]="IsOnShoppingList(item.id)">add_shopping_cart</mat-icon>
                </button>
                <button class="mat-button" mat-button title="Add to favorites"
                (click)="addOrRemoveFavorite(item, tradeData.startStation, tradeData.endStation)">
                    <mat-icon [class.fillIcon]="IsFavorite(item.id)">star</mat-icon>
                </button>
            </div>
        </div>
        <div class="stationRoute" >
            <div class="stationName textLeft">
                {{ tradeData.startStation.name }}
                
            </div>
            <div class="fromToStationIcon">
                <mat-icon [inline]="true">arrow_forward</mat-icon>
            </div>
            <div class="stationName textRight">
                {{ tradeData.endStation.name }}
               
            </div>
        </div>

        <div class="quickInfoBuySellContainerDiv" style="padding-bottom: 10px;">
            <div class="quickInfoBuySell textLeft">
                <label [class.multibleSellOrdersUsed]="tradeData.usedMarketEntries.length > 1"
                [title]="tradeData.usedMarketEntries.length > 1 ? 'Average price for multible orders': ''">
                    {{ tradeData.singleBuyPrice * -1 | currency }}
                </label>
                <span [matBadge]="tradeData.usedMarketEntries.length" 
                    [matBadgeHidden]="tradeData.usedMarketEntries.length <= 1" 
                    matBadgeOverlap="false"
                    matBadgePosition="after"></span>       
            </div>

            <label class="quickInfoBuySell textRight">{{ tradeData.singleSellPrice | currency }}</label>
        </div>

    </div>
    
    <div class="sellCostsContainer">
        <div class="priceEntryDiv" style="padding-bottom: 10px;">
            <label class="titleLabel">Sell Price</label>
            <label class="valueLabel"
            [ngClass]="tradeData.artificialSellPrice ? 'artificialPrice' : 'positivNumber'">{{ tradeData.sellPriceX | currency }}</label>
        </div>

        <mat-divider></mat-divider>

        <div class="priceEntryDiv" style="padding-top: 10px;">
            <label class="titleLabel">Buy Price</label>
            <label class="negativeNumber valueLabel">{{ tradeData.buyPriceX * -1 | currency }}</label>
        </div>

        <div class="priceEntryDiv" style="padding-bottom: 10px;">
            <label class="titleLabel">Shipping</label>
            <label class="negativeNumber valueLabel">{{ tradeData.shippingCost * -1 | currency }}</label>
        </div>

        <mat-divider></mat-divider>

        <div class="priceEntryDiv" style="padding-top: 10px;">
            <label class="titleLabel">Broker Fee</label>
            <label class="negativeNumber valueLabel">{{ tradeData.brokerFee * -1 | currency }}</label>
        </div>
        <div class="priceEntryDiv">
            <label class="titleLabel">Tax</label>
            <label class="negativeNumber valueLabel">{{ tradeData.saleTax * -1 | currency }}</label>
        </div>
        <div class="priceEntryDiv" style="padding-bottom: 10px;">
            <label class="titleLabel">Netto Sell Price</label>
            <label class="positivNumber valueLabel">{{ tradeData.nettoSalePrice | currency }}</label>
        </div>

        <mat-divider></mat-divider>

        <div class="priceEntryDiv" style="padding-top: 10px;">
            <label class="titleLabel">Profit</label>
            <label class="valueLabel"
                [ngClass]="tradeData.artificialSellPrice ? 'artificialPrice' : tradeData.profit <= 0 ? 'negativeProfit' : 'positivProfit'">
                {{ tradeData.profit | currency }}
            </label>       
        </div>

        <div *ngIf="tradeData.artificialSellPrice" class="artificialSellPriceDiv">
            Target market does not have active sell orders for given item. <br>
            Sell price is artificially set to Jita + 20% + Shipping. 
        </div>

        <div *ngIf="!tradeData.hasEnoughMarketVolumen" class="notEnoughVolumenDiv">
            The market had not enough remaining volumen. <br>
            The prices for remaining volumen may differ. 
        </div>
    </div>
</div>

<ng-template #CalcIsLoading>
    <div class="calcIsLoading">
        <mat-spinner></mat-spinner>
    </div>
 </ng-template>