@import 'src/styles/variables';
@import 'src/styles/functions';
   
.stationPriceContainer {

    .CalcIsLoading {
        display: flex;
        justify-content: center;
        justify-self: center;
    }

    .itemInfoContainer {
        color: $foreground-soft1;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: nowrap;

        .splitLeftRight {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            .itemInfo {
                display: inline-flex;
                width: 400px;

                .itemDetails {
                    margin: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                    
                    .itemInfoName{
                        font-style: italic;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                
                    .itemInfoId {
                        font-size: 70%;
                        font-style: italic;
                        color: $foreground-soft2;
                    }
                }
            } 

            .interactionButtons {

                .mat-button {
                    line-height: 15px;
                    min-width: 15px;
                    padding: 2px;
                              
                    mat-icon {
                        transform: scale(0.8);
                    }
                    
                    .fillIcon {
                        color: $accent1-soft1;
                    }
                }
            }
        }


        .stationRoute {
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-evenly;
            align-content: space-between;
            flex-wrap: nowrap;

            .stationName {
                font-size: 80%;
                width: 45%;
            }

            .textLeft {
                text-align: left;
            }

            
            .textRight {
                text-align: right;
            }
        
            .fromToStationIcon {
                width: 15px;
                height: 15px;
                line-height: 15px;
            }
        }

        .quickInfoBuySellContainerDiv{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: nowrap;

            .quickInfoBuySell {
                font-size: 80%;
                width: 45%;
            }
            
            .textLeft {
                text-align: left;
            }

            
            .textRight {
                text-align: right;
            }
        
        }
    }


    .sellCostsContainer {
        margin-top: 5px;
        margin-bottom: 5px;

        .negativeNumber {
            color: $accent2;
        }

        .negativeProfit {
            color: $accent2-strong3;
            font-weight: bold;
        }

        .positivProfit {
            color: $accent3-strong3;
            font-weight: bold;
        }

        .positivNumber {
            color: $accent3;
        }

        .sellHeader {
            background-color: $accent1;
        }

        .priceEntryDiv {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            align-content: center;

            .titleLabel{
                width: 120px;
                padding-right: 10px;
                overflow: hidden;
                text-align: left;
                display: inline-block;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .valueLabel{
                overflow: hidden;
                text-align: right;
                display: inline-block;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

    }
}