<!-- <div *ngIf="itemIdentifier$ | async as itemIdentifier">
    item: {{ itemIdentifier | json }}
</div> -->

<div *ngIf="(itemIdentifier$ | async) as item" class="itemInfoContainer">
    <div *ngIf="(currentItemImageSourceObs | async) as imageSource">
        <img class="foundItemImage" [src]="imageSource">
    </div>
    <div class="itemDetails">
        <div class="itemInfoName">{{ item.name }}</div>
        <div class="itemInfoId">{{ item.id }}</div>
        <div *ngIf="itemDetails$ | async as itemDetails" class="itemInfoId"> {{ itemDetails.packaged_volume }} m³ </div>
    </div>
</div>

<div *ngIf="sellStation$ | async as sellStation" class="sellHeader">
    Station Name {{ sellStation }}
</div>

<div *ngIf="calculatedSellData$ | async as calculatedSellData">
    <div>
        Brutto Sell Price: {{ calculatedSellData.grossSellPrice | currency }}
    </div>
    <div>
        Broker Fee: {{ calculatedSellData.brokerFee | currency }}
    </div>
    <div>
        Sales Tax: {{ calculatedSellData.saleTax | currency }}
    </div>
    <div>
        Netto Sell Price: {{ calculatedSellData.nettoSalePrice | currency }}
    </div>
    <div class="sellHeader">
        Profit
    </div>
    <div>
        Shipping Cost: {{ calculatedSellData.shippingCost| currency }}
    </div>
    <div>
        After Shipping Profit: {{ calculatedSellData.afterShippingProfit | currency }}
    </div>
</div>