.loginComponent {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .serverStatus {
        text-align: center;
        font-size: 75%;
    }

    .loginButtonContainer {  
        float: right;
    }

    .authCharacterContainer {
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 85%;

        img {
            margin-left: 5px;
            margin-right: 5px;
            width: 36px;
        }
    }
}




