<div class="loginComponent">
    <div *ngIf="statusObs | async as serverStatus" class="serverStatus">
        Players: {{ serverStatus?.players }} | Uptime: {{serverStatus?.start_time | date : 'medium'}}
    </div>

    <a routerLink="/StationToStationTrade" routerLinkActive="active">Trade</a>

    <a routerLink="/production" routerLinkActive="active">Production</a>

    <div *ngIf="authStatus | async">
        auth is valid!
    </div>

    <div *ngIf="!(authStatus | async)" class="loginButtonContainer">
        <input type="image" src="../../assets/icons/eve-sso-login-black-small.png" (click)="startLogin()"/> 
        <!-- <button *ngIf="!authValid" class="loginButton" type="button" (click)="startLogin()"></button> -->
    </div>

    <div *ngIf="authStatus | async">
        <div class="authCharacterContainer" *ngIf="characterObs | async as authChar">   
            {{ authChar.CharacterName }}        
            <div *ngIf="characterPortraitObs | async as portrait">
                <img [src]="portrait.px64x64">
            </div>

            <mat-icon (click)="revokeAuth()">logout</mat-icon>
        </div>
    </div>
</div>