@import '../../styles/variables';
@import '../../styles/functions';

.headerComponent {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .serverStatus {
        text-align: center;
        font-size: 75%;
    }

    .loginButtonContainer {  
        float: right;
    }

    .authCharacterContainer {
        float: right;
        display: flex;
        justify-content: space-between;
        font-size: 85%;

        .characterDetails {
            display: block;

            .characterWallet {
                font-size: 80%;
                float: right;
                color: $accent3-strong3;
            }
        }
        
        img {
            margin-left: 5px;
            margin-right: 5px;
            width: 36px;
        }

        .characterLogout {
            align-self: center;
        }
    }
}




