<div class="headerComponent">
    <button mat-button (click)="matSideNav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <div *ngIf="!(authStatus | async)" class="loginButtonContainer">
        <input type="image" src="../../assets/icons/eve-sso-login-black-small.png" (click)="startLogin()"/> 
    </div>

    <div *ngIf="authStatus | async">
        <div class="authCharacterContainer" *ngIf="characterObs | async as authChar">   
            {{ authChar.CharacterName }}        
            <div *ngIf="characterPortraitObs | async as portrait">
                <img [src]="portrait.px64x64">
            </div>

            <mat-icon (click)="revokeAuth()">logout</mat-icon>
        </div>
    </div>
</div>