@import 'src/styles/variables';
@import 'src/styles/functions';

.blueprintMaterialsDiv { 
    .itemInfo {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        padding-bottom: 10px;
          
        @include breakpoint(490px) {
            max-width: 300px;
            }
        @include breakpoint(410px) {
            max-width: 250px;
            }

        .itemDetails {
            margin: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            
            .itemInfoName{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            }
        
            .itemInfoId {
                font-size: 70%;
                font-style: italic;
                color: $foreground-soft2;
            }
        }
    } 

    .mainBPOComponent {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        
        .foundItemImage {
            cursor: pointer;
        }

        .mainComponentName {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 90%;
            cursor: pointer;
            padding-right: 10px;

            // @include breakpoint(625px) {
            //     width: 130px;
            // }
        }

        .mainComponentImage {
            cursor: pointer;
        }

        .mainComponentQuantity {
            margin-left: auto;
            text-align: end;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 90%;
        }
    }


    .nameColumn {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 90%;
        cursor: pointer;
        color: $foreground-soft1;

        @include breakpoint(625px) {
            width: 130px;
        }
    }

    .tableRowLeft {
        text-align: left;
        font-size: 90%;
        padding-left: 5px;
    }

    .imageColumn {
        width: 32px;
        cursor: pointer;
    }

    .tableRowRight {
        text-align: end;
        font-size: 80%;
        color: $foreground-soft1;
    }

    .hideOnPhone {
        @include breakpoint(625px) {
            display: none;
            }
    }

    .shortOnPhone {
        @include breakpoint(625px) {
            max-width: 120px;
            }
    }

    .subComponent {
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;

        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 0px;
        }

        th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
            padding-right: 0px;
        }  

        tr.mat-row {
            height: 10px;
        }
    }

}