<ejs-chart id='chart-container' *ngIf="historyDataObs | async as chartData"
    background="transparent" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
    [chartArea]="chartArea">
    <e-series-collection>
        <e-series [dataSource]='chartData' type='Line' xName='date' yName='average' name='average'></e-series>
        <!-- <e-series [dataSource]='chartData' type='Column' xName='country' yName='silver' name='Silver'></e-series>
        <e-series [dataSource]='chartData' type='Column' xName='country' yName='bronze' name='Bronze' ></e-series> -->
    </e-series-collection>
</ejs-chart>