@import 'src/styles/variables';
@import 'src/styles/functions';

.stationToStationTradeMainDiv {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  // we need this, because we have a sticky header with over 56px.
  padding-bottom: 70px;

  .default-mat-card {
    width: 565px;
    min-height: 400px;
    overflow-x: hidden;

    @include breakpoint(1540px) {
      width: 565px;
    }

    @include breakpoint(888px) {
      width: auto;
    }
  }

  @include breakpoint(888px) {
    flex-direction: column;
  }

  .searchContent {
    flex: 0 0 200px;

    @include breakpoint(888px) {
      flex: auto;
    }
  }

  .sellDetailsAndOrders {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    overflow-x: hidden;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(888px) {
      flex-direction: column;
    }
  
    .stationPriceMatCard {

      .stationPriceContent {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.notAuthenticated {
    font-style: italic;
    text-align: center;
}

.noItemSpecified {
  font-style: italic;
  text-align: center;
}