<div class="stationToStationTradeMainDiv" *ngIf="authStatusObs | async; else NotAuthenticated">
   <mat-card>
      <mat-card-title>Item search</mat-card-title>
      <div class="searchContent">
         <app-eve-search mode="trade" [inputItemName$]="routerItemNameSubject"></app-eve-search>
      </div>
   </mat-card>

   <div class="sellDetailsAndOrders">
      <div class="stationPriceMatCard">   
         <mat-card class="default-mat-card">
            <ng-container *ngIf="currentItemObs | async; else NoItemSpecified"
            class="stationPriceContent">
                  <eve-item-station-price
                     [saleTaxPercent$]="characterSaleTaxPercentObs"
                     [numberCount$]="numberCountObs"
                     [startStation$]="currentstartStationObs"
                     [sellStation$]="currentendStationObs"
                     [shippingService$]="shippingServiceObs"
                     [shippingRoute$]="shippingRouteObs"
                     [itemIdentifier$]="currentItemObs"
                     [itemDetails$]="itemDetailsObs">
                  </eve-item-station-price>       
            </ng-container>  
         </mat-card>
      </div>
      
      <div *ngIf="shoppingListObs | async as list">   
         <mat-card class="default-mat-card" *ngIf="list.length > 0">
            <app-shopping-list
               [shoppingList$]="shoppingListObs">
            </app-shopping-list>  
         </mat-card>
      </div>
      
      <mat-card class="default-mat-card">
         <mat-card-title>Active Orders</mat-card-title>
         <app-station-order-status
            [structure$]="currentendStationObs">
         </app-station-order-status>
      </mat-card>
   </div>
</div>


<ng-template #NotAuthenticated>
   <div class="notAuthenticated">
      You need to login, to see the station market.
   </div>
</ng-template>

<ng-template #NoItemSpecified>
   <div class="noItemSpecified">
      Search for a Item to see profit calculation.
   </div>
</ng-template>