<div class="mainContent">
   <div class="searchContent">
      <app-eve-search></app-eve-search>
   </div>

   <div class="stationPriceContent">   
      <ng-container *ngIf="authStatus | async; else NotAuthenticated">
            <eve-item-station-price
               [numberCount$]="numberCountObs"
               [buyStation$]="currentBuyStationObs"
               [sellStation$]="currentSellStationObs"
               [itemIdentifier$]="currentItemObs"
               [itemDetails$]="itemDetailsObs">
            </eve-item-station-price>
      
      </ng-container>  
   </div>
</div>


<ng-template #NotAuthenticated>
   <div class="notAuthenticated">
      You need to login, to see the station market.
   </div>
</ng-template>