@import 'src/styles/variables';
@import 'src/styles/functions';

.appevelogin {
    z-index: 998;
    position: sticky;
    top: 0px;
    padding: 10px;
    background: $accent1;

    .loginWidth {
        width: 100%;
    }
}

.mainContent {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 10px;

  @include breakpoint(770px) {
    flex-direction: column;
  }

  .searchContent {
    flex: 0 0 200px;

    @include breakpoint(770px) {
      flex: auto;
    }
  }

  .stationPriceContent {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    @include breakpoint(770px) {
      justify-content: center;
    }
  }
}

.notAuthenticated {
    font-style: italic;
    text-align: center;
}