@import 'src/styles/variables';
@import 'src/styles/functions';

.loginComponent {
    z-index: 998;
    position: sticky;
    top: 0px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: $accent1;

    .loginWidth {
        width: 100%;
    }
}
 
/* Create two unequal columns that floats next to each other */
.dashColumn {
    float: left;
    padding-top: 20px;
    overflow: hidden;
  }
  
  .dashLeft {
    width: 20%;
  }
  
  .dashRight {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


.notAuthenticated {
    font-style: italic;
    text-align: center;
}