/* ==========================================================================
      Main-Colors
   ========================================================================== */

$background-soft3: var(--background-soft3, #867D50);
$background-soft2: var(--background-soft2, #686244);
$background-soft1: var(--background-soft1, #4A4738);
$background: var(--background, #2C2C2C);
$background-strong1: var(--background-strong1, #252223);
$background-strong2: var(--background-strong2, #1E181A);
$background-strong3: var(--background-strong3, #170E11);

$foreground-soft3: var(--foreground-soft3, black);
$foreground-soft2: var(--foreground-soft2, rgba(102, 102, 102, 1));
$foreground-soft1: var(--foreground-soft1, rgb(213, 213, 213));
$foreground: var(--foreground, white);
$foreground-strong1: var(--foreground-strong1, white);
$foreground-strong2: var(--foreground-strong2, white);
$foreground-strong3: var(--foreground-strong3, white);

$accent1-soft3: var(--accent1-soft3, #7FC39A);
$accent1-soft2: var(--accent1-soft2, #61A88E);
$accent1-soft1: var(--accent1-soft1, #438D82);
$accent1: var(--accent1, #257276);
$accent1-strong1: var(--accent1-strong1, #1E686D);
$accent1-strong2: var(--accent1-strong2, #175E64);
$accent1-strong3: var(--accent1-strong3, #10545B);

$accent2-soft3: var(--accent2-soft3, #fb8d28);
$accent2-soft2: var(--accent2-soft2, #fca14e);
$accent2-soft1: var(--accent2-soft1, #fdbc81);
$accent2: var(--accent2, #fa7902);
$accent2-strong1: var(--accent2-strong1, #f97102);
$accent2-strong2: var(--accent2-strong2, #f96601);
$accent2-strong3: var(--accent2-strong3, #f85c01);

$accent3-soft3: var(--accent3-soft3, green);
$accent3-soft2: var(--accent3-soft2, green);
$accent3-soft1: var(--accent3-soft1, green);
$accent3: var(--accent3);
$accent3-strong1: var(--accent3-strong1, green);
$accent3-strong2: var(--accent3-strong2, green);
$accent3-strong3: var(--accent3-strong3, green);

$info_foreground: var(--info_foreground, yellow);
$info_background: var(--info_background, yellow);

$success_foreground: var(--success_foreground, rgba(126, 160, 67, 1));
$success_background: var(--success_background, rgb(215, 232, 188));

$warning_foreground: var(--warning_foreground, orange);
$warning_background: var(--warning_background, rgb(235, 217, 184));

$error_foreground: var(--error_foreground, rgb(212, 2, 2));
$error_background: var(--error_background, rgb(255, 204, 204));
