<div class="AppContainer">
    <div class="appheader">
        <app-header [matSideNav]="sidenav" class="headerWidth"></app-header>
    </div>

    <mat-sidenav-container class="app-mat-sidenav-content">
        <mat-sidenav #sidenav mode="side">
            <mat-nav-list class="appNavigationList">
                <a mat-list-item routerLink="/dashboard"
                    title="Dashboard" routerLinkActive="active">
                    <mat-icon class="dashboardIcon">dashboard</mat-icon>
                </a>

                <mat-divider></mat-divider>

                <a mat-list-item routerLink="/trade"
                title="Trading" routerLinkActive="active">
                    <img class="mat-list-item-image" src="../assets/icons/eve-icons/market.svg">
                </a>
                <a mat-list-item routerLink="/production" 
                title="Production" routerLinkActive="active">
                    <img class="mat-list-item-image" src="../assets/icons/eve-icons/industry.svg">
                </a>      
                <a mat-list-item routerLink="/shipping" 
                title="Shipping" routerLinkActive="active">
                    <mat-icon class="dashboardIcon">local_shipping</mat-icon>
                </a>    
             </mat-nav-list>  
        </mat-sidenav>
      
        <mat-sidenav-content>
                <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>