@import '../styles/variables';
@import '../styles/functions';

.AppContainer {
  background-color: $background;
  color: $foreground;
  font-family: $text-font-family;
  height: 100%;
  position: relative;
  overflow: hidden;

  .appheader {
      z-index: 998;
      position: sticky;
      top: 0px;
      padding: 10px;
      background: $accent1;

      .headerWidth {
          width: 100%;
      }
  }

  .appNavigationList {

    .mat-list-item-content {
      justify-content: center;
    }
    .dashboardIcon {
      transform: scale(1.5);
    }

    .mat-list-item-image {
      padding: 10px;
      width: 50px;
      filter: brightness(0) invert(100%);
    }
  }

  .app-mat-sidenav-content {
    height:100%;
    overflow-y: auto;
  }
}