@import 'src/styles/variables';
@import 'src/styles/functions';


.mainBPOComponent {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    
    .mainComponentName {
        width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 90%;
        cursor: pointer;
        padding-right: 10px;

        // @include breakpoint(625px) {
        //     width: 130px;
        // }
    }

    .mainComponentQuantity {
        width: 80px;
        text-align: end;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 90%;
        padding-right: 85px;
    }
    
    .mainComponentCost {
        width: 120px;
        text-align: end;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 90%;
    }   
}


.nameColumn {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 90%;
    cursor: pointer;
    color: $foreground-soft1;

    @include breakpoint(625px) {
        width: 130px;
    }
}

.buyLocationColumn {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 90%;
    cursor: pointer;
    color: $foreground-soft1; 
}

.tableRowCenter {
    text-align: center;
}

.tableRowLeft {
    width: 200px;
    text-align: left;
    font-size: 90%;
}

.tableRowRight {
    width: 120px;
    text-align: end;
    font-size: 80%;
    color: $foreground-soft1;
}

.hideOnPhone {
    @include breakpoint(625px) {
        display: none;
        }
}

.shortOnPhone {
    @include breakpoint(625px) {
        max-width: 120px;
        }
}

.subComponent {
    padding-left: 40px;

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 0px;
    }

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        padding-right: 0px;
    }  

    tr.mat-row {
        height: 10px;
    }
}