<!-- blueprintTypeID: {{ bpoDetails.blueprintTypeID}}
<br>
maxProductionLimit: {{ bpoDetails.maxProductionLimit}} -->
<div class="materialsDiv" *ngIf="mainBPODetailsObs | async as mainBPODetails">
    <div *ngIf="manufacturingCostsObs | async as manufacturingCosts">
        <table mat-table *ngIf="manufacturingCosts && manufacturingCosts.length > 0" [dataSource]="manufacturingCostsObs">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef class="tableRowCenter"> Image </th>
                <td mat-cell *matCellDef="let element" class="tableRowCenter"><img class="foundItemImage" [src]="getImageForItem(element.typeID)"></td>
                <td mat-footer-cell *matFooterCellDef class="tableRowCenter"></td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="tableRowLeft"> Name </th>
                <td mat-cell *matCellDef="let element" class="tableRowLeft"
                (click)="copy(element.itemName)">
                    <div class="nameColumn shortOnPhone" [title]="element.itemName">{{element.itemName}}</div> 
                </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowLeft"></td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef class="tableRowRight hideOnPhone"> Quantity </th>
                <td mat-cell *matCellDef="let element" class="tableRowRight hideOnPhone"> {{ element.quantity }} </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowRight hideOnPhone"></td>
            </ng-container>

            <ng-container matColumnDef="single_buyPrice">
                <th mat-header-cell *matHeaderCellDef class="tableRowRight hideOnPhone"> Buy price </th>
                <td mat-cell *matCellDef="let element" class="tableRowRight hideOnPhone"> {{element.single_buyPrice | currency }} </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowRight hideOnPhone"> {{ 0 | currency }} </td>
            </ng-container>

            <ng-container matColumnDef="quantity_total">
                <th mat-header-cell *matHeaderCellDef class="tableRowRight"> Quantity total</th>
                <td mat-cell *matCellDef="let element" class="tableRowRight"> {{element.quantity_total}} </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowRight"></td>
            </ng-container>

            <ng-container matColumnDef="total_buyPrice">
                <th mat-header-cell *matHeaderCellDef class="tableRowRight"> Buy price total </th>
                <td mat-cell *matCellDef="let element" class="tableRowRight"> {{element.total_buyPrice | currency }} </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowRight"> {{ calcCostSum(manufacturingCosts) | currency }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['image', 'name', 'quantity', 'single_buyPrice', 'quantity_total', 'total_buyPrice']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['image', 'name', 'quantity', 'single_buyPrice', 'quantity_total', 'total_buyPrice']"></tr>
            <tr mat-footer-row *matFooterRowDef="['image', 'name', 'quantity', 'single_buyPrice', 'quantity_total', 'total_buyPrice']"></tr>
        </table>
    </div>
</div>