<div class="materialCostsDiv" *ngIf="manufacturingCostsGroupedObs | async as manuFacCostsGrouped">
    <div *ngFor="let entry of manuFacCostsGrouped | keyvalue">
        <button class="multibuyButton" mat-button title="Copy in Multibuy format"
            (click)="copyAsMultibuyFormat(entry.value, entry.key)">
            <mat-icon>assignment</mat-icon>
            {{ entry.key }}
        </button>

        <table mat-table [dataSource]="entry.value" style="width: 100%;">
            <ng-container matColumnDef="image">
                <td mat-cell *matCellDef="let element" 
                    class="tableRowLeft imageColumn">
                    <img class="foundItemImage" [src]="getImageForItem(element.typeID)">
                </td>
            </ng-container>
        
            <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let element" class="tableRowLeft"
                (click)="copy(element.itemName)">
                    <div class="nameColumn" [title]="element.itemName">{{ element.itemName }}</div> 
                </td>
            </ng-container>
        
            <ng-container matColumnDef="quantity_total">
                <td mat-cell *matCellDef="let element" class="tableRowRight"> {{ element.quantity_total | number }} </td>
            </ng-container>

            <ng-container matColumnDef="single_buyPrice">
                <td mat-cell *matCellDef="let element" class="tableRowRight"> {{ element.single_buyPrice | currency }} </td>
            </ng-container>        
            
            <ng-container matColumnDef="total_buyPrice">
                <td mat-cell *matCellDef="let element" class="tableRowRight"> {{ element.total_buyPrice | currency }} </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: ['image', 'name', 'quantity_total', 'single_buyPrice', 'total_buyPrice']"></tr>
        </table>

    </div>
</div>
