<div *ngIf="BPOItem$ | async as bpoItem">
    <div class="bpoItemContainer">
        <div class="itemInfo">
            <div *ngIf="(currentItemImageSourceObs | async) as imageSource">
                <img class="foundItemImage" [src]="imageSource">
            </div>
            <div class="itemDetails">
                <div class="itemInfoName" [title]="bpoItem.name"
                    (click)="copy(bpoItem.name)">{{ bpoItem.name }}</div>
                <div class="itemInfoId">{{ bpoItem.type_id }}</div>
                <div class="itemInfoId">{{ bpoItem.packaged_volume }} m³</div>
            </div>
        </div>

        <div class="arrow">
            <mat-icon>arrow_forward</mat-icon>
        </div>

        <div class="itemInfo" *ngIf="productObs | async as productObj">
                <img class="foundItemImage" [src]="productObj.imageSource">
            <div class="itemDetails">
                <div class="itemInfoName" [title]="productObj.product.name"
                    (click)="copy(productObj.product.name)">{{ productObj.product.name }}</div>
                <div class="itemInfoId">{{ productObj.product.type_id }}</div>
                <div class="itemInfoId">{{ productObj.product.packaged_volume }} m³</div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="sellDataObs | async as sellData">
        <!-- <div class="calcSummaryEntry" style="padding-top: 10px;">
            <span class="minorInfo">Max Runs</span> <span class="minorInfo">{{ sellData.bpo.maxProductionLimit }}</span> 
        </div> -->

        <div class="calcSummaryEntry" style="padding-top: 10px;">
            <span class="minorInfo">Product (per run)</span> <span class="minorInfo">{{ sellData.bpo.activities.manufacturing.products[0].quantity }} </span>
        </div> 

        <div class="calcSummaryEntry" (click)="copy(sellData.single_sellPrice)" *ngIf="sellData.sellAmout > 1">
            <span class="minorInfo">Single sell</span> <span [ngClass]="sellData.artificialSellPrice ? 'artificialPrice' : 'positivNumber'"
            class="minorInfo valueLabel canCopy">{{ sellData.single_sellPrice | currency }}</span>
        </div> 

        <div class="calcSummaryEntry" (click)="copy(sellData.total_sellPrice)" style="padding-bottom: 10px;">
            <span>Sell price</span> <span [ngClass]="sellData.artificialSellPrice ? 'artificialPrice' : 'positivNumber'"
            class="valueLabel canCopy">{{ sellData.total_sellPrice | currency }}</span>
        </div>

        <mat-divider></mat-divider>

        <div class="calcSummaryEntry" (click)="copy(sellData.materialCost)" style="padding-top: 10px;">
            <span>Material</span> <span class="negativeNumber valueLabel canCopy">{{ sellData.materialCost *-1 | currency }}</span>
        </div>

        <div class="calcSummaryEntry" (click)="copy(sellData.volume)" style="padding-bottom: 10px;">
            <span class="minorInfo">Volume</span> <span class="minorInfo canCopy">{{ sellData.volume | number }} m³</span>
        </div>

        <mat-divider></mat-divider>

        <div class="calcSummaryEntry" (click)="copy(sellData.shippingCost)" style="padding-top: 10px;">
            <span>Shipping</span> <span class="negativeNumber valueLabel canCopy">{{ sellData.shippingCost *-1 | currency }}</span>
        </div>

        <div class="calcSummaryEntry" (click)="copy(sellData.shippingColateral)" >
            <span class="minorInfo">Colateral</span> <span class="minorInfo canCopy">{{ sellData.shippingColateral | currency }}</span>
        </div>

        <div class="calcSummaryEntry" (click)="copy(sellData.shippingVolume)" style="padding-bottom: 10px;">
            <span class="minorInfo">Volume</span> <span class="minorInfo canCopy">{{ sellData.shippingVolume | number }} m³</span>
        </div>

        <mat-divider></mat-divider> 

        <div class="calcSummaryEntry" style="padding-top: 10px;" (click)="copy(sellData.mainBpoJobCost)">
            <span [title]="'Industry job cost for ' + bpoItem.name">Job</span> 
            <span class="negativeNumber valueLabel canCopy">{{ sellData.mainBpoJobCost *-1 | currency }}</span>
        </div>
        <div class="calcSummaryEntry" style="padding-bottom: 10px;" (click)="copy(sellData.subComponentsJobCost)" *ngIf="sellData.subComponentsJobCost > 0">
            <span [title]="'Industry job cost for all sub-components'">Sub-jobs</span> 
            <span class="negativeNumber valueLabel canCopy">{{ sellData.subComponentsJobCost *-1 | currency }}</span>
        </div>

        <mat-divider></mat-divider> 

        <div class="calcSummaryEntry" style="padding-top: 10px;">
            <span>Broker Fee</span> <span class="negativeNumber valueLabel">{{ sellData.brokerFee *-1 | currency }}</span>
        </div>

        <div class="calcSummaryEntry" style="padding-bottom: 10px;">
            <span>Tax</span> <span class="negativeNumber valueLabel">{{ sellData.saleTax *-1 | currency }}</span>
        </div>

        <mat-divider></mat-divider>

        <div class="calcSummaryEntry" style="padding-top: 10px; padding-bottom: 10px;">
            <span class="minorInfo">All costs</span> <span class="minorInfo">{{ sellData.sumCosts *-1 | currency }}</span>
        </div>
        
        <div class="calcSummaryEntry" (click)="copy(sellData.profit)" style="padding-top: 10px;">
            <span>Profit</span> 
            <span class="valueLabel canCopy"
             [ngClass]="sellData.profit <= 0 ? 'negativeProfit' : 'positivProfit'">
                {{ sellData.profit | currency }}
            </span>
        </div>

        
        <div *ngIf="sellData.artificialSellPrice" class="artificialSellPriceDiv">
            Target market does not have active sell orders for given item. <br>
            Sell price is artificially set to material + shipping + jobs + 20%. 
        </div>

        <div *ngIf="!sellData.allMaterialsAvailable" class="calculationFailedDiv">
            WARNING: Not all materials available. <br>
            Profit is invalid! 
        </div>
    </div>
</div>