@import 'src/styles/variables';
@import 'src/styles/functions';

.missigListLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.missingItemListDiv {
    display: flex;
    justify-content: stretch;

    mat-table {
        width: 100%;
    }

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 10px;
        
        @include breakpoint(625px) {
            padding-left: 5px;
        }
    }

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        padding-right: 10px;

        @include breakpoint(625px) {
            padding-right: 5px;
        }
    }
    
    .nameColumn {
        width: 380px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 90%;
        cursor: pointer;

        @include breakpoint(625px) {
            width: 130px;
        }
    }
    
    .tableRowCenter {
        padding-right: 10px;
        text-align: center;
    }

    .pointerCursor {
        cursor: pointer;
    }
    
    .tableRowLeft {
        padding-right: 10px;
        text-align: left;
    }
    
    .tableRowRight {
        padding-right: 10px;
        text-align: end;
        font-size: 90%;
    }

    .hideOnPhone {
        @include breakpoint(625px) {
            display: none;
          }
    }
}