<div class="searchComponent">
  <form [formGroup]="defaultFormGroup" *ngIf="mode === 'production' || mode === 'trade'">
      <mat-form-field>
        <mat-label>Item</mat-label>
        <input matInput type="text"
              class="itemSearchInput"
              placeholder="Item name"
              [formControl]="itemNameControl"
              [matAutocomplete]="auto"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="itemNameControl.hasError('required')">
              Item name is required
            </mat-error>
            <mat-error *ngIf="itemNameControl.hasError('minLength')">
              Item name must be at least 4 characters
            </mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of (autoCompleteObs | async)" [value]="option.name">
          <span>{{option.name}}</span> 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field *ngIf="mode === 'trade'">
        <mat-label>Count</mat-label>
        <input matInput type="number"
            placeholder="Item count"
            [formControl]="itemCountControl" 
            [errorStateMatcher]="matcher"
            min="1">
            <mat-error *ngIf="itemNameControl.hasError('max')">
              Item count may only be 25000
            </mat-error>
      </mat-form-field>
      
      <mat-form-field *ngIf="initAccountingSkillLevelObs | async as initSkillLevel">
        <mat-label>Accounting</mat-label>
        <mat-select [formControl]="accountingLevelControl">
          <mat-option *ngFor="let level of oneToFive" [value]="level">
            {{level}}
          </mat-option>
        </mat-select>
        <mat-hint>
          Character: {{ initSkillLevel }}
        </mat-hint>
      </mat-form-field>
  </form>

  <form [formGroup]="shippingFormGroup" *ngIf="allowedStationsObs | async as allStations">   
    <mat-form-field>
      <mat-label>{{ startStationLabelContent }}</mat-label>
      <mat-select [formControl]="startStationControl" [compareWith]="compareStations">
        <mat-option *ngFor="let startStation of allStations" [value]="startStation">
          {{startStation.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ endStationLabelContent }}</mat-label>
      <mat-select [formControl]="endStationControl" [compareWith]="compareStations">
        <mat-option *ngFor="let endStation of allStations" [value]="endStation">
          {{endStation.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="allowedShippingServicesObs | async as shippingServices">
      <mat-label>Shipping service</mat-label>
      <mat-select [formControl]="shippingServiceControl">
        <mat-option *ngFor="let service of shippingServices" [value]="service">
          {{service.serviceName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <form *ngIf="mode === 'production'" [formGroup]="productionFormGroup">

    <mat-form-field *ngIf="allowedBuyModesObs | async as buyModes">
      <mat-label>Buy mode</mat-label>
      <mat-select [formControl]="buyModeControl" [(value)]="selectedBuyMode">
        <mat-option *ngFor="let mode of buyModes" [value]="mode">
          <label [title]="mode.description">{{ mode.name }}</label>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Runs</mat-label>
      <input matInput type="number"
          placeholder="runs"
          [formControl]="runsControl" 
          [errorStateMatcher]="matcher"
          min="1">
    </mat-form-field>
     
    <mat-form-field>
      <mat-label>Material Efficiency</mat-label>
      <mat-select [formControl]="meLevelControl">
        <mat-option *ngFor="let me of zeroToTen" [value]="me">
          {{me}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sub-Material Efficiency</mat-label>
      <mat-select [formControl]="subMeLevelControl">
        <mat-option *ngFor="let me of zeroToTen" [value]="me">
          {{me}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Time Efficiency</mat-label>
      <mat-select [formControl]="teLevelControl">
        <mat-option *ngFor="let te of zeroToTwenty" [value]="te">
          {{te}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </form>
</div>