@import '../../styles/variables';
@import '../../styles/functions';


.searchComponent {
  width: 100%;
  display: inline-grid;
  overflow: hidden;

  mat-form-field {
    margin-bottom: 10px;
    width: 100%;
    display: block;
    position: relative;
    text-align: left;
  }

  .itemSearchInput {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mat-option {
  height: 30px;
  line-height: 30px;
  font-size: 85%;
}