.searchComponent {
  min-width: 200px;
  width: 100%;
  display: inline-grid;
  padding: 5px;

  .itemSearchInput {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mat-option {
  height: 30px;
  line-height: 30px;
  font-size: 85%;
}

.mat-form-field {
  margin-bottom: 10px;
  display: block;
  position: relative;
  text-align: left;
}