<form class="example-form">
    <mat-form-field>
      <mat-label>Item</mat-label>
      <input type="text"
             placeholder="Item name"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of (autoCompleteObs | async)" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>

<div *ngIf="(mySearchObs | async) as def">
  <img *src="currentItemImageSourceObs | async">
  {{ def.name }}
</div>