<form class="searchComponent" [formGroup]="options">
    <mat-form-field>
      <mat-label>Item</mat-label>
      <input matInput type="text"
             placeholder="Item name"
             [formControl]="itemNameControl"
             [matAutocomplete]="auto"
             [errorStateMatcher]="matcher">
          <mat-error *ngIf="itemNameControl.hasError('required')">
            Item name is required
          </mat-error>
          <mat-error *ngIf="itemNameControl.hasError('minLength')">
            Item name must be at least 4 characters
          </mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of (autoCompleteObs | async)" [value]="option.name">
         <span>{{option.name}}</span> 
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Count</mat-label>
      <input matInput type="number"
          placeholder="Item count"
          [formControl]="itemCountControl" 
          [errorStateMatcher]="matcher"
          min="1">
          <mat-error *ngIf="itemNameControl.hasError('max')">
            Item count may only be 25000
          </mat-error>
    </mat-form-field>
</form>

<!-- <div *ngIf="(mySearchObs | async) as foundItem">
  <img class="foundItemImage" [src]="currentItemImageSourceObs | async">
  {{ foundItem.name }}
  {{ foundItem.id }}
</div> -->