@import 'src/styles/variables';
@import 'src/styles/functions';

.loginComponent {
    z-index: 998;
    position: sticky;
    top: 0px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: $accent1;
}

.app-eve-search {
    width: 300px;
}

.notAuthenticated {
    font-style: italic;
    text-align: center;
}