<div class="loginComponent">
   <app-eve-login></app-eve-login> 
</div>

<p>dashboard works!</p>

<app-eve-search class="app-eve-search"></app-eve-search>


<ng-container *ngIf="authValid; else NotAuthenticated" >
   <eve-item-station-price *ngIf="authValid"
   [numberCount$]="numberCountObs"
   [sellStation$]="currentSellStationObs"
   [itemIdentifier$]="currentItemObs">
</eve-item-station-price>
</ng-container>

<ng-template #NotAuthenticated>
   <div class="notAuthenticated">
      You need to login, to see the station market.
   </div>
</ng-template>