<div class="loginComponent">
   <app-eve-login class="loginWidth"></app-eve-login> 
</div>

<div class="dashColumn dashLeft">
   <app-eve-search></app-eve-search>
</div>

<ng-container *ngIf="authValid; else NotAuthenticated">
   <div class="dashColumn dashRight">
      <eve-item-station-price
         *ngIf="authValid"
         [numberCount$]="numberCountObs"
         [sellStation$]="currentSellStationObs"
         [itemIdentifier$]="currentItemObs"
         [itemDetails$]="itemDetailsObs">
      </eve-item-station-price>
   </div>
</ng-container>

<ng-template #NotAuthenticated>
   <div class="notAuthenticated">
      You need to login, to see the station market.
   </div>
</ng-template>