@import 'src/styles/variables';
@import 'src/styles/functions';

.listLoading {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.shoppingListDiv {
    display: flex;
    justify-content: center;

    .nameColumn {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 90%;

        @include breakpoint(625px) {
            width: 130px;
        }
    }
    
    .tableRowCenter {
        padding-right: 10px;
        text-align: center;
    }
    
    .tableRowLeft {
        padding-right: 10px;
        text-align: left;
        font-size: 90%;
    }
    
    .tableRowRight {
        padding-right: 10px;
        text-align: end;
        font-size: 85%;
    }

    .hideOnPhone {
        @include breakpoint(625px) {
            display: none;
          }
    }
}