@import 'src/styles/variables';
@import 'src/styles/functions';

.listLoading {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.cardHeaderArea{
    background-color: #424242;
    position: sticky;
    top: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;

    mat-card-actions {
        margin: 0px;
        padding-top: 4px;

        .mat-button {
            line-height: 15px;
            min-width: 15px;
            padding: 2px;

            mat-icon {
                transform: scale(0.7);
            }
        }
    }
}


.shoppingListDiv {
    display: flex;
    justify-content: center;
    
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 10px;
        
        @include breakpoint(625px) {
            padding-left: 5px;
        }
    }

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        padding-right: 10px;

        @include breakpoint(625px) {
            padding-right: 5px;
        }
    }  

    .nameColumn {
        max-width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 90%;
        cursor: pointer;

        @include breakpoint(625px) {
            width: 130px;
        }
    }
    
    .tableRowCenter {
        padding-right: 10px;
        text-align: center;
    }
    
    .tableRowLeft {
        padding-right: 10px;
        text-align: left;
        font-size: 90%;
    }
    
    .tableRowRight {
        padding-right: 10px;
        text-align: end;
        font-size: 85%;
    }

    .hideOnPhone {
        @include breakpoint(625px) {
            display: none;
          }
    }

    .shortOnPhone {
        @include breakpoint(625px) {
            max-width: 120px;
          }
    }
}