<div class="cardHeaderArea">
    <mat-card-title>Shopping list</mat-card-title>
    <mat-card-actions>
        <button class="mat-button" mat-button title="Copy in Multibuy format"
            (click)="copyAsMultibuyFormat()">
            <mat-icon>assignment</mat-icon>
        </button>
        <button class="mat-button" mat-button title="Clear shopping list"
            (click)="clearShoppingList()">
            <mat-icon>remove_shopping_cart</mat-icon>
        </button>
    </mat-card-actions>
 </div>

<div class="shoppingListDiv" *ngIf="shoppingList$ | async as entries">
    <mat-card-content>
        <table mat-table *ngIf="entries && entries.length > 0" [dataSource]="shoppingList$">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef class="tableRowCenter"> Image </th>
                <td mat-cell *matCellDef="let element" class="tableRowCenter" [ngClass]="element.forProduction ? 'productionItem' : 'regular'"><img class="foundItemImage" [src]="getImageForItem(element.type_id)"></td>
                <td mat-footer-cell *matFooterCellDef class="tableRowCenter"></td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="tableRowLeft"> Name </th>
                <td mat-cell *matCellDef="let element" class="tableRowLeft" [ngClass]="element.forProduction ? 'productionItem' : 'regular'"
                (click)="copy(element.item_name)">
                    <div class="nameColumn shortOnPhone" [title]="element.item_name">{{element.item_name}}</div> 
                </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowLeft"></td>
            </ng-container>
    
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef class="tableRowCenter"> Quantity </th>
                <td mat-cell *matCellDef="let element" class="tableRowCenter" [ngClass]="element.forProduction ? 'productionItem' : 'regular'"> {{ element.quantity }} </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowCenter"></td>
            </ng-container>
    
            <ng-container matColumnDef="buy_price">
                <th mat-header-cell *matHeaderCellDef class="tableRowRight"> Buy price </th>
                <td mat-cell *matCellDef="let element" class="tableRowRight" [ngClass]="element.forProduction ? 'productionItem' : 'regular'"> {{element.buy_price | currency}} </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowRight"> {{ calcBuySum(entries) | currency }} </td>
            </ng-container>
    
            <ng-container matColumnDef="profit">
                <th mat-header-cell *matHeaderCellDef class="tableRowRight hideOnPhone"> Profit </th>
                <td mat-cell *matCellDef="let element" class="tableRowRight hideOnPhone" [ngClass]="element.forProduction ? 'productionItem' : 'regular'"> {{ element.profit | currency }} </td>
                <td mat-footer-cell *matFooterCellDef class="tableRowRight hideOnPhone"> {{ calcProfitSum(entries) | currency }} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="['image', 'name', 'quantity', 'buy_price', 'profit']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['image', 'name', 'quantity', 'buy_price', 'profit']"></tr>
            <tr mat-footer-row *matFooterRowDef="['image', 'name', 'quantity', 'buy_price', 'profit']"></tr>
        </table>
    </mat-card-content>
</div>

