<div class="productionMainDiv" *ngIf="authStatusObs | async; else NotAuthenticated">
    <mat-card>
        <mat-card-title>Item search</mat-card-title>
        <div class="searchContent">
           <app-eve-search mode="production"
           [inputItemName$]="routerItemNameSubject"></app-eve-search>
        </div>
     </mat-card>

     <div class="productionContentDiv">
         <mat-card class="manufacturingContent">
            <mat-card-title>Manufacturing summary</mat-card-title>
               <app-blueprint-details *ngIf="!(isLoadingObs | async); else ProdLoadingIndicator"
                  [runs$]="runsObs"
                  [sellStructure$]="currentSellStructureObs"
                  [saleTaxPercent$]="characterSaleTaxPercentObs"
                  [shippingRoute$]="shippingRouteObs"
                  [shippingService$]="shippingServiceObs"
                  [mainBpoJobCost$]="mainBpoJobCostObs"
                  [manufacturingCosts$]="manufacturingCostsObs"
                  [subComponents$]="subComponentsObs"
                  [BPOItem$]="itemDetailsObs"
                  [BPODetails$]="mainBPODetailsObs">
               </app-blueprint-details>        
         </mat-card>
  
         <mat-card class="manufacturingContent-weight">
            <mat-card-title>Required BPCs</mat-card-title>
            <app-sub-blueprints *ngIf="!(isLoadingObs | async); else ProdLoadingIndicator"
               [subBPOs$]="subComponentsObs">  
            </app-sub-blueprints>      
         </mat-card>

         <mat-card class="manufacturingContent">
            <mat-card-title>Shopping list</mat-card-title>
            <app-blueprint-material-costs
             [manufacturingCosts$]="manufacturingCostsObs">
            </app-blueprint-material-costs>
         </mat-card>


         <mat-card class="manufacturingContent">
            <mat-card-title>Required materials</mat-card-title>
            <app-blueprint-materials *ngIf="!(isLoadingObs | async); else ProdLoadingIndicator"
               [targetItem$]="itemDetailsObs"
               [allRequiredMaterials$]="allRequiredMaterials">
            </app-blueprint-materials>        
         </mat-card>
     </div>
</div>  

<ng-template #NotAuthenticated>
    <div class="notAuthenticated">
       You need to login, to see the station market.
    </div>
 </ng-template>

 <ng-template #ProdLoadingIndicator>
   <div *ngIf="isLoadingObs | async" class="prodLoadingIndicator">
      <mat-spinner></mat-spinner>
  </div>
</ng-template>