<div class="productionMainDiv" *ngIf="authStatusObs | async; else NotAuthenticated">
    <mat-card>
        <mat-card-title>Item search</mat-card-title>
        <div class="searchContent">
           <app-eve-search [inputItemName$]="routerItemNameSubject"></app-eve-search>
        </div>
     </mat-card>

     <div class="productionContentDiv">
        <div class="manufacturingMatCard">   
           <mat-card class="default-mat-card">
              <ng-container *ngIf="currentItemObs | async"
              class="manufacturingContent">
                    <app-blueprint-manufacturing
                        [item$]="currentItemObs"
                        [buyStation$]="currentBuyStationObs">
                    </app-blueprint-manufacturing>      
              </ng-container>  
           </mat-card>
        </div>
     </div>
</div>  

<ng-template #NotAuthenticated>
    <div class="notAuthenticated">
       You need to login, to see the station market.
    </div>
 </ng-template>