@import '../../styles/variables';
@import '../../styles/functions';

.productionMainDiv {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  // we need this, because we have a sticky header with over 56px.
  padding-bottom: 70px;

  @include breakpoint(991px) {
    flex-direction: column;
  }

  .searchContent {
  //  flex: 0 0 250px;
    width: 260px;
    @include breakpoint(1052px) {
      width: 200px;
    }
    @include breakpoint(991px) {
  //    flex: auto;
      width: auto;
    }
  }

  .productionContentDiv {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    overflow-x: hidden;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    @include breakpoint(1546px) {
      column-gap: 0px;
    }

    .manufacturingContent {
      width: 580px;
      min-height: 600px;
    }

    
    .manufacturingContent-weight {
      width: auto;
      min-height: 600px;
    }

    @include breakpoint(991px) {
      flex-direction: column;
    }
  }
}

.notAuthenticated {
    font-style: italic;
    text-align: center;
}

.noItemSpecified {
  font-style: italic;
  text-align: center;
}

.prodLoadingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}