<div class="stationPriceContainer" *ngIf="tradeDataObs | async as tradeData; else CalcIsLoading">
    <div class="itemInfoContainer">
        <div class="itemInfo">
            <div>
                <img class="foundItemImage"  [src]="getImageForItem(inputItem.type_id)">
            </div>
            <div class="itemInfoName" [title]="tradeData.type_name"
                (click)="copy(tradeData.type_name)">{{ tradeData.type_name }}
            </div>
        </div>

        <div  style="padding-top: 5px; padding-bottom: 5px;">
            <mat-divider></mat-divider>
        </div>

        <div class="stationRoute">
            <div class="stationName">
                {{ tradeData.buyStation.name }}             
            </div>
            <div class="fromToStationIcon">
                <mat-icon [inline]="true">arrow_forward</mat-icon>
            </div>
            <div class="stationName alignEnd">
                {{ tradeData.sellStructure.name }}
               
            </div>
        </div>

        <div class="quickInfoBuySellContainerDiv" style="padding-bottom: 5px;">
            <div class="quickInfoBuySell textLeft">
                <label>
                    {{ tradeData.singleBuyPrice * -1 | currency }}
                </label>    
            </div>

            <label class="quickInfoBuySell textRight">{{ tradeData.singleSellPrice | currency }}</label>
        </div>

    </div>
    
    <div class="sellCostsContainer">
        <mat-divider></mat-divider>

        <div class="priceEntryDiv" style="padding-top: 15px;">
            <label class="titleLabel">Profit</label>
            <label class="valueLabel"
            [ngClass]="tradeData.artificialSellPrice ? 'artificialPrice' : tradeData.profit <= 0 ? 'negativeProfit' : 'positivProfit'">
                {{ tradeData.profit | currency }}
            </label>       
        </div>
    </div>
</div>

<ng-template #CalcIsLoading>
    <div class="calcIsLoading">
        <mat-spinner></mat-spinner>
    </div>
 </ng-template>